<h2>Search Results</h2>

<% if @search_results.any? %>
  <ul class="search-results">
    <% @search_results.each do |article| %>
      <li><%= link_to "#{article.title}", article_version_path(article, article.latest_version) %>. Latest update by: <%= article.latest_version.author.username %> on <%= article.latest_version.created_at.strftime('%c') %></li>
    <% end %>
  </ul>
<% else %>
  <h3>Sorry! We couldn't find any posts that match <%= @search_param %></h3>
<% end %>
