<h2><%= @article.title %></h2>

<h3>Versions</h3>

<div class="version-container">

    <% @article.versions.each do |version| %>
      <p class="version-content">
        <%= version.content %><br />
        <small>-Written by: <%= version.author.username %> on <%= version.created_at %></small>
      </p>
    <% end %>

</div>
