<h1><%= @user.username %></h1>

<h3>Saved Drafts</h3>

<div id="draft-list">
  <% @user.saved_version_drafts.each do |version| %>
    <p><%= link_to "#{version.title}", edit_article_version_path(version.article, version) %></p>
    <small>Last saved: <%=  version.updated_at.strftime('%c') %></small>
  <% end %>
</div>
