body {
  background-color: #1DA1F7;
  font-family: Ubuntu;
}

main {
  box-sizing: border-box;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 5px;
}

.page-title {
  position: relative;
  display: inline-block;
  width: 49%;
  font-style: italic;
}

#main-menu {
  position: relative;
  display: inline-block;
  width: 49%;
  top: 5px;
}

#nav-container {
  float: right;
}

#main-menu a {
  text-decoration: none;
  color: purple;
  font-size: 1.2em;
}

#main-menu a:hover {
  font-style: italic;
}

.container {
  width: 760px;
  margin: 0 auto;
}

.article-title {
  font-weight: bold;
}

.version-content {
  font-style: italic;
}

form label {
  display: block;
}

.shown-version {
  color: #064b7a;
  font-size: 1.2em;
}

.version-links a {
  color: black;
  text-decoration: none;
}

.version-links .username-link {
  color: purple;
  text-decoration: none;
}

.version-links a:hover {
  color: #6eb5b7;
  text-decoration: none;
}

.featured-articles {
  margin-top: 65px;
  text-align: left;
}

.featured-article {
  margin-bottom: 25px;
  border-bottom: 2px solid #446789;
  padding-bottom: 15px;
}

.title-link {
  font-style: italic;
  font-size: 1.2em;
}

.search-box {
  text-align: center;
  display: inline-block;
  width: 45%
}
.new-article {
  display: inline-block;
  width: 45%;
  text-align: right;
}

.new-article input {
  font-size: 2em;
  padding: 20px;
}

.new-article input:hover {
  color: #42b9f4;
}

.user-title {
  text-align: center;
}

.username-link {
  color: purple;
  text-decoration: none;
}
