body {
  background-color: rgba(0, 0, 0, 0.25);
  font-family: sans-serif;
}

main {
  box-sizing: border-box;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 5px;
}

.page-title {
  font-family: Georgia;
  font-style: italic;
}

.container {
  width: 760px;
  margin: 0 auto;
}

.article-title {
  font-weight: bold;
}

.version-content {
  font-style: italic;
}

form label {
  display: block;
}

.shown-version {
  color: blue;
}

.version-links a {
  color: black;
  text-decoration: none;
}

.version-links a:hover {
  color: #6eb5b7;
  text-decoration: none;
}

.featured-articles {
  text-align: center;
}

.featured-article {
  margin-bottom: 15px;
}
