<!DOCTYPE html>
<html>
  <head>
    <title>ChillOutt</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <main class="container">
      <h1 class="page-title">Chill Outt. . .</h1>
      <%= yield %>
    </main>
  </body>
</html>
